
body {
    font-family: "Shantell Sans", cursive;
    font-size: 18px;
    font-variation-settings:
        "BNCE" -70,
        "INFM" 100,
        "SPAC" 2;

    background-color: transparent;

    max-width: max-content;
    max-height: max-content;
}

#wrapper-div {
    display: inline-flex;
    width: max-content;
}

#wrapper-div img {
    object-fit: contain;
}

#wrapper-div div {
    margin-left: .3em;
    flex-direction: column;
}

#wrapper-div div p {
    margin-bottom: .4em;
}

.big {
    font-size: 1.25em;
    font-weight: bold;
}
